body {
    background-color: #2c2c2c;
}

.menu {
    text-align: center;
    margin-bottom: 30px;
}

#about {
    text-decoration: none;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}

p a:link {
    text-decoration: none;
    color: #ede6e6;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    list-style-type: none;
    display: inline-block;
}

p a:hover {
    color: #a3f2fb;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    list-style-type: none;
    display: inline-block;
}

p a:visited {
    text-decoration: none;
    color: #ede6e6;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    list-style-type: none;
    display: inline-block;
}

#resume {
    color: #ede6e6;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}

#portfolio {
    color: #ede6e6;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    list-style-type: none;
    display: inline-block;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    margin-bottom: -175px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#about_me {
    background-color: #c9cbd0;
    height: 355px;
    width: 1000px;
    border: 1px solid white;
    margin: auto;
}

#name {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    font-size: 50px;
    margin-bottom: -30px;
    margin-top: -2px;
    padding-left: 5px;
}

#tagline {
    color: #a3f2fb;
    font-family: bebas-neue, sans-serif;
    font-size: 50px;
    margin-bottom: -20px;
    padding-left: 5px;
}

#me {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.resume_section {
    background-color: #c9cbd0;
    height: 1100px;
    width: 1000px;
    border: 1px solid white;
    margin: auto;
    margin-top: 20px;
}

#resume_section_title {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    font-size: 50px;
    margin-bottom: -30px;
    margin-top: -2px;
    padding-left: 5px;
}

#resume_png {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#resume_link:hover {
    text-decoration: none;
    padding-left: 5px;
    color: #fbfcff;
}

#resume_link:link {
    text-decoration: none;
    padding-left: 5px;
}

.portfolio_section {
    background-color: #c9cbd0;
    height: 350px;
    width: 1000px;
    border: 1px solid white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

#portfolio_section_title {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    font-size: 50px;
    margin-bottom: -30px;
    margin-top: -2px;
    padding-left: 5px;
}

#external_links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#biz_dev_pic {
    padding-right: 100px;
}

#marketing_pic {
    padding-right: 100px;
    padding-left: 17px;
}

#biz_dev_text {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    padding-left: 10px;
}

#marketing_text {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    padding-left: 81px;
}

#digital_creations_text {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    padding-left: 45px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   border-top: 1px solid white;
   background:#a3f2fb;
   text-align: center;
}

#social {
    margin-left: 5px;
    margin-top: 2px;
    display: inline-block;
    float: left;
}

#facebook {
    padding-right: 5px;
}

#twitter {
    padding-right: 5px;
}

#contact_links {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 8px;
}

#home {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    padding-right: 10px;
}

#contact {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    padding-right: 10px;
}

#foot_text {
    color: #2c2c2c;
    font-family: poiret-one, sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    line-height: 40px;
}

span {
    font-family: bebas-neue, sans-serif;
    color: white;
}